@model IndexViewModel
@*
    Представление пользователя для других
*@
@{
    ViewData["Title"] = $"Профиль {Model.User.UserName}";
    var f = new Feedback { UserId = Model.User.Id };
    ViewData["Rating"] = Model.Feedbacks.Count() > 0 ? Model.Feedbacks.Average(f => f.Mark) : 0;
}

<h2>@ViewData["Title"]</h2>
<h5>Рейтинг: @ViewData["Rating"]</h5>

<div class="bd-example bd-example-tabs">
    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active show" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Основная инфа</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="bids-tab" data-toggle="tab" href="#bids" role="tab" aria-controls="bids" aria-selected="false">Ставки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="mylot-tab" data-toggle="tab" href="#mylot" role="tab" aria-controls="mylot" aria-selected="false">Лоты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="mybuyerlot-tab" data-toggle="tab" href="#mybuyerlot" role="tab" aria-controls="mybuyerlot" aria-selected="false">Покупки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="feedback-tab" data-toggle="tab" href="#feedback" role="tab" aria-controls="feedback" aria-selected="false">Отзывы</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <h5>Информация</h5>
            <div class="row">
                <div class="col-md-12">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.User.UserName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.User.UserName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.User.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.User.Email)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.User.PhoneNumber)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.User.PhoneNumber)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="bids" role="tabpanel" aria-labelledby="bids-tab">
            @{ if (Model.User.Bids.Count() == 0)
                {
                    <h5>Ставок пока нет</h5>
                }
                else
                {
                    <h5>Ставок: @Model.User.Bids.Count()</h5>
                    <table class="table">
                        <thead>
                            <tr class="d-table-row"><th>Лот</th><th>Ставка</th><th>Дата</th></tr>
                        </thead>
                        <tbody>
                            @foreach (var bid in Model.User.Bids)
                            {
                                <tr class="d-table-row">
                                    <td><a asp-controller="Lots" asp-action="Details" asp-route-id="@bid.LotId">@bid.Lot.Title</a></td>
                                    <td>@bid.Rate</td>
                                    <td>@bid.Time</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        </div>
        <div class="tab-pane fade" id="mylot" role="tabpanel" aria-labelledby="mylot-tab">
            <h5>Лоты:</h5>
            <div>
                @await Html.PartialAsync("_lotsTable", Model.User.Lots.ToList())
            </div>
        </div>
        <div class="tab-pane fade" id="mybuyerlot" role="tabpanel" aria-labelledby="mybuyerlot-tab">
            <h5>Покупки:</h5>
            <div>
                @{
                    // получаем список покупок
                    var listLots = new List<Lot>();
                    @foreach (var sell in Model.User.Sells)
                    {
                        listLots.Add(sell.Lot);
                    }
                    @await Html.PartialAsync("_lotsTable", listLots);
                }
            </div>
        </div>

        <div class="tab-pane fade" id="feedback" role="tabpanel" aria-labelledby="feedback-tab">
            <h5>Отзывы:</h5>
            @await Html.PartialAsync("_PartialFeedbackCreateView", f);
            <div>
                @foreach (var feed in Model.Feedbacks.Reverse())
                {
                    @await Html.PartialAsync("_FeedbackPartialView", feed)
                }
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


