@model IEnumerable<AutionApp.Category>

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h1>Категории</h1>

<p>
    <a asp-action="CreateCategory">Создать новую категорию</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent.Title)
            </td>
            <td>
                <a asp-action="EditCategory" asp-route-id="@item.CategoryId">Edit</a> |
                <a asp-action="DeleteCategory" asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
